<bullet-list-content-loader *ngIf="carregando"></bullet-list-content-loader>
<div class="row" *ngIf="!carregando">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Clientes
        <button type="button" class="btn btn-primary float-right btn-sm" (click)="criar()">+ Novo</button>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Data de Nacimento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clientes of cliente">
              <td>{{clientes?.id}}</td>
              <td>{{clientes?.name}}</td>
              <td>{{clientes?.data}}</td>
              <td>
                <button type="button" class="btn btn-success btn-sm" (click)="update(clientes?.id)">Editar</button> 
                | 
                <button type="button" class="btn btn-danger btn-sm" (click)="excluir(clientes?.id)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Cliente</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <bullet-list-content-loader *ngIf="upcarregando"></bullet-list-content-loader>
      <form (ngSubmit)="updateCliente()" *ngIf="!upcarregando">
      <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nome do Cliente</span>
            </div>
            <input id="name" name="name" [(ngModel)]="parametro.name" value="parametro.name" type="text" class="form-control"  required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Data de Nascimento</span>
            </div>
            <input id="data" name="data" [(ngModel)]="parametro.data" value="parametro.data" type="date" class="form-control"  required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #primaryModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cadastrar Cliente</h4>
        <button type="button" class="close" (click)="primaryModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <bullet-list-content-loader *ngIf="upcarregando"></bullet-list-content-loader>
      <form (ngSubmit)="criarModal()" *ngIf="!upcarregando">
      <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nome do Cliente</span>
            </div>
            <input id="name" name="name" [(ngModel)]="parametroCriar.name" type="text" class="form-control"  required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Data de Nascimento</span>
            </div>
            <input id="data" name="data" [(ngModel)]="parametroCriar.data" type="date" class="form-control"  required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal2.hide()">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->